* {
    margin:0;
    padding:0;
    border:0;
}

body {
    display: flex;
    flex-direction: column;
    margin: 0;
    background-color: #fff8ee;
    background-image: url(Images/background-image.jpg);
  }

header {
    background-color: white;
    padding: 20px 60px;
    margin: 0 0 10px 0;
    border-bottom: 3px solid #362917;
}

.header-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
    max-width: 800px;
    margin: 0 auto;
}

.about-section {
    background-color: white;
    padding: 20px 20px;
}

.about-container {
    display: flex;
    flex-wrap: wrap;
    width: 65%;
}
  
h1 {
    font-family:Arial, Helvetica, sans-serif;
    font-weight: 600;
    font-size: 30px;
    color: #362917;
    width: 50%;
}

header nav a {
    color:#362917;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: 600;
    font-size: 14px;
    text-decoration: none;
    text-transform: uppercase;
    margin: 0 10px;
}

header nav {
    width: 45%;
    display: flex;
    flex-wrap: wrap;
    justify-content: flex-end;
}

main {
    display: flex;
    flex: 1;
    justify-content: space-between;
    max-width: 800px;
    padding: 20px;
    margin: auto;
}

aside {
    width: 25%;
    padding: 20px 5px 5px 10px;
    text-align: center;
    background-color: white;
}

.aside-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

aside nav a {
    margin: 0 8px;
}

aside nav {
    padding: 10px 0;
}
  
h2 {
    font-family:Arial, Helvetica, sans-serif;
    font-weight: 600;
    font-size: 25px;
    color: #362917;
}

#h2-about {
    width: 100%;
}
  
p {
    font-family: Arial, Helvetica, sans-serif;
    font-size: 14px;
    margin: 10px 0;
}
  
.headshot-image {
    margin: 15px 25px 20px 0;
    float: left;
}
  
footer {
    padding: 20px;
    margin: 10px 0 0 0;
    text-align: center;
    background-color: #362917;
}
  
p.CopyRight {
    color: white;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: 600;
    font-size: 14px;
}

